<div xmlns:th="https://www.thymeleaf.org"
     xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
     layout:decorate="~{fragments/layout}">

    <div layout:fragment="content" class="uk-section">
        <div class="uk-container uk-container-xsmall">

            <h1 class="uk-heading-divider" th:text="${title}"></h1>

            <table class="uk-table uk-table-striped uk-table-hover uk-table-small uk-width-large">
                <tr>
                    <th>ID</th>
                    <th th:colspan="2">Kolor</th>
                    <th>Data</th>
                </tr>

                <tr th:each="selectedColor : ${selectedColors}">
                    <td th:text="${selectedColor.id}"></td>
                    <td th:attr="bgcolor=${selectedColor.color}"></td>
                    <td th:text="${selectedColor.color}"></td>
                    <td th:text="${#calendars.format(selectedColor.ctime,'dd MMMM yyyy HH:mm:ss')}"></td>
                </tr>

            </table>

            <div class="uk-padding"></div>

        </div>
    </div>

</div>