<div xmlns:th="https://www.thymeleaf.org"
     xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
     layout:decorate="~{fragments/layout}">

    <div layout:fragment="content" class="uk-section">
        <div class="uk-container uk-container-xsmall">

            <h1 class="uk-heading-divider" th:text="${title}"></h1>

            <table>
                <tr th:each="colorsRow : ${colors}">

                    <td width="100" height="100"
                        th:each="color : ${colorsRow}"
                        th:attr="bgcolor=${color}"
                        th:onclick="'location.href = \''  +  @{/select/{c}(c=${color})} + '\''"/>
                </tr>

            </table>

        </div>
    </div>

</div>